*{
    box-sizing:border-box;
}

main{
    font-family:'Plus Jakarta Sans',sans-serif;
    
}

.middle-container{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    row-gap:50%;
    background: linear-gradient(180deg,#FFF,#F7F2F2);
    
} 
#animation{
    border-radius: 1.0em;
    border: 0.5em thin;
    background-color: white;
    box-shadow: 6vw 2vh 0vh #faf9f9;
    height: auto;
    max-width: 100%;
    position: relative;   
    
}
#design{
   border-radius: 1.0em;
    border: 0.5em thin;
    background-color: white;
    box-shadow: 6vw 0vh 0vh #faf9f9;
    height: auto;
    max-width: 100%;
    position: relative; 
    
}
#photography{
   border-radius: 1.0em;
    border: 0.5em thin;
    background-color: white;
    box-shadow: 6vw 0vh 0vh #faf9f9;
    height: auto;
    max-width: 100%;
    position: relative;
}
#crypto{
   border-radius: 1.0em;
    border: 0.5em thin;
    background-color: white;
    box-shadow: 6vw 0vh 0vh #faf9f9;
    height: auto;
    max-width: 100%;
    position: relative;
}
#business{
   border-radius: 1.0em;
    border: 0.5em thin;
    background-color: white;
    box-shadow: 6vw 0vh 0vh #faf9f9;
    height: auto;
    max-width: 100%;
    position: relative;
}
.light-text{
    font-weight:200;
    line-height: 1.62em;

}

.content{
   margin-left: 2vw;
   
}

/* For Mobile Device */
@media only screen and (min-width:320px) and (max-width:480px){
 .start-button{
    background-color:#13183F;
    color: #FFFF;
    width:7rem;
    height:2rem;
    border-radius:5rem 5rem 5rem 5rem;
    position: absolute;
    left:65vw;
    top:3vh;
 }

 .get-started{
    color:#F74780;
 }

 .second-button{
    background: linear-gradient(180deg,#FF6F48, #F02AA6);
    width:8rem;
    height:2rem;
    border-radius:5rem 5rem 5rem 5rem;
    border-color:linear-gradient(180deg,#FF6F48, #F02AA6);
    border: thin;
    color: white;
 }  

 .image{
    background-image:url("./assets/image-hero-mobile.webp");
    background-position: center;
    background-size: cover;
    margin:auto;
    height:60vh;
    width:88vw;  
 }

 #introduction{
    color:white;
    background: linear-gradient(180deg,#FF6F48, #F02AA6);
    width:80vw;
    height:16vh;
    margin:auto;
    border-radius:1.0em;
 }
 #introduction h3{
    text-align: center;
    line-height: 1.62em;
 }

 .inline{
    background-color:#13183F;
    color: #faf9f9; 
    height:13vh; 
    width:auto;
    position: relative;
 }

 .inline input{
    position: absolute;
    left:60vw;
    bottom:3vh;
    background: linear-gradient(180deg,#6648ff, #F02AA6);
    width:7rem;
    height:2rem;
    border-radius:5rem 5rem 5rem 5rem;
    border-color:linear-gradient(180deg,blue, #F02AA6);
    border: thin;
    color: white;
 }

 .inline footer{
    position: absolute;
    right:77vw;
    bottom:4vh;
    font-weight: bold;
 }
 .empty-div{
    height: 11vh;
    background-color: #faf9f9;
    
 }
  .div-gaps{
    height: 5vh;
    background-color: #faf9f9;
    width: 100vw;
 }  

 #animation img{
   width: 12vw;
   margin-left:3vw;
 }

 #design img{
   position: absolute;
   bottom: 26vh;
   width: 12vw;
   left: 3vw;

}
#photography img{
   position: absolute;
   bottom: 30vh;
   width: 12vw;
   left: 3vw;
}
#crypto img{
   position: absolute;
   bottom: 29vh;
   width: 12vw;
   left: 3vw;
}
#business img{
   position: absolute;
   bottom: 29vh;
   width: 12vw;
   left: 3vw;
}
}


 /* For Tablets */
  @media only screen and (min-width:481px) and (max-width:1280px){
  
  .main-container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: repeat(7, auto);
  }
  .item1{
     grid-column: 1/4;
     grid-row: 1/2;
     position: relative;
     margin-left: 2.0vw;
  }
  
  .item1 input{
     position: absolute;
     background-color:#13183F;
     color: #FFFF;
     width:7rem;
     height:2.5rem;
     border-radius:5rem 5rem 5rem 5rem;
     left:110vw;
     top:3vh;
  }
  
  .item1 h2{
     margin-left: 4.0vw;
  }
  
  .item2{
     grid-column: 1/3;
     grid-row: 2/3;
     margin-left: 4.9vw;
  }
  
  .second-button{
     background: linear-gradient(180deg,#FF6F48, #F02AA6);
     width:10rem;
     height:3rem;
     border-radius:5rem 5rem 5rem 5rem;
     border-color:linear-gradient(180deg,#FF6F48, #F02AA6);
     border: thin;
     color: white;
  }
  
  .light-text{
   font-size: 1.5em;
  }
  .image{
     grid-column: 2/3;
     grid-row: 3/4;
     background-image:url("./assets/image-hero-tablet.webp");
     background-position: center;
     background-size: cover;
     margin:auto;
     height:35rem;
     width:62rem;
     position: absolute;
     left:530px;
  }

  













  }